.about {
    background-color: #F7F8F9;
    color: #111111;
    padding-top: 100px;
    padding-bottom: 50px;
}

.about-title {
    text-align: center;
}

.about .display-4 {
    font-size: 2.3rem;
    margin-bottom: 25px;
}

.about .col-md-10 {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.about .col-md-10 span {
    color: #2ECEC2;
}

#my-photo {
    width: 200px;
    height: 200px;
}

.about p {
    font-size: 1.2rem;
}

a:hover {
    text-decoration: none;
}

.about .col-md-4 {
    text-align: center;
}

.about .col-md-4 img {
    width: 100px;
    height: 100px;
    margin-bottom: 35px;
}

.about .col-md-2 {
    padding-bottom: 60px;
}

.about .col-md-4 span {
    color: #2ECEC2;
}



@media (max-width: 992px) {
    .col-md-2 {
        text-align: center;
    }

    .about .col-md-10 {
        padding-left: 15px;
        padding-top: 15px;
    }

    .about .col-md-10 p {
        text-align: center;
    }

    .about {
        padding-top: 30px;
    }

    .about .col-md-2 {
        padding-bottom: 20px;
    }

    .about .col-md-4 {
        padding-top: 30px;
    }
}