.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer .display-4 {
    font-size: 2.4rem;
    font-weight: 400;
}

.footer .lead {
    font-size: 1.25rem;
}

#footer-btn {
    background-color: #2ECEC2;
    border: 2px solid #2ECEC2;
}

#footer-btn:hover {
    background-color: #111111;
    color: #2ECEC2;
}

.footer-right {
    
    text-align: center;
    
}

.footer-right p {
    margin-top: 25px;
    font-size: 0.8rem;
}

.footer svg {
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 992px) {
    .footer-right {
        padding-top: 30px;
    }

    .footer {
        padding-bottom: 10px;
    }

    .footer .display-4 {
        font-size: 2.1rem;
    }

    .footer .lead {
        font-size: 1rem;
    }

    #footer-btn {
        font-size: 0.8rem;
    }

    .footer-right p {
        font-size: 0.7rem;
    }

    .footer-left {
        text-align: center;
    }
}
